body {
    margin: auto; /* center in viewport */
    width: 1200px;
}


/* =====================================================================================================================
* Turtle canvas
===================================================================================================================== */
.game {}
.game__canvas {
    display: block;
    margin: 0 9.5rem;
    max-height: 42.5em;
    max-width: 42.5em;
    position: absolute;
    left: 0px;
    top: 0px;
}

.game__canvas--last-position {
    z-index: 1;
}

.game__canvas__middle--position {
    z-index: 2;
}

.game__canvas__first--position {
    z-index: 3;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper * {
    margin: 0 auto;
}

/* =====================================================================================================================
* Turtle canvas
===================================================================================================================== */

.pad-control {
    position: fixed;
    right: 5em;
    bottom: 5em;
    z-index: 5;
}

